## .NET / Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
bld/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/
*.vssscc
*.vspscc
*.vsp
*.vspx
*.sap

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
[Dd]ebugPS/

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
